@media (max-width: 768px) {
    body {
      font-size: 14px; 
    }
}

    @media (max-width: 480px) {
        body {
          font-size: 12px; 
        }
    }

        @media (max-width: 768px) {
            .nav-list {
              display: none; /* Yashiradi */
              flex-direction: column;
            }
          
            .nav-toggle {
              display: block; 
            }
          }